@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(100px) scale(0.4);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(90% 5%);

}
  
@keyframes fade-up-animation{
    from {
        transform: translateY(30px) scale(0.6);
        opacity: 0;
    }to{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

@keyframes fade-down-animation{
    from {
        transform: translateY(-30px) scale(0.6);
        opacity: 0;
    }to{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.fade-down {
    animation: fade-down-animation 1s;
}

.fade-up {
    animation: fade-up-animation 1s;
}

@media (prefers-reduced-motion: reduce) {
    .fade-down,
    .fade-up,
    .autoShow,
    #hero::before {
        animation: none;
    }
}